In [2]:
import requests 
import pandas as pd

**Ejercicio 1: Ejercicio generación renovable/no renovable nacional**

In [3]:
diccionario_año = {"tipo_energia": [], "tipo_generacion": [], "fecha": [], "valor": []}

for año in range(2011, 2023): 
    url_nacional = f"https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date={año}-01-01T00:00&end_date={año}-12-31T23:59&time_trunc=month"
    datos_año =  requests.get(url_nacional)
    json_año = datos_año.json()

    for elemento in json_año["included"]:
        for dato in elemento["attributes"]["values"]:
            diccionario_año["tipo_energia"].append(elemento["attributes"]["title"])
            diccionario_año["tipo_generacion"].append(elemento["attributes"]["type"])
            diccionario_año["valor"].append(dato["value"])
            diccionario_año["fecha"].append(dato["datetime"])

In [4]:
df_año = pd.DataFrame(diccionario_año)
df_año

,tipo_energia,tipo_generacion,fecha,valor
0,Hidráulica,Renovable,2011-01-01T00:00:00.000+01:00,5.119512e+06
1,Hidráulica,Renovable,2011-02-01T00:00:00.000+01:00,2.998051e+06
2,Hidráulica,Renovable,2011-03-01T00:00:00.000+01:00,3.910363e+06
3,Hidráulica,Renovable,2011-04-01T00:00:00.000+02:00,3.537938e+06
4,Hidráulica,Renovable,2011-05-01T00:00:00.000+02:00,2.797500e+06
...,...,...,...,...
2482,Generación total,Generación total,2022-08-01T00:00:00.000+02:00,2.528779e+07
2483,Generación total,Generación total,2022-09-01T00:00:00.000+02:00,2.366389e+07
2484,Generación total,Generación total,2022-10-01T00:00:00.000+02:00,2.195674e+07
2485,Generación total,Generación total,2022-11-01T00:00:00.000+01:00,2.157244e+07
2486,Generación total,Generación total,2022-12-01T00:00:00.000+01:00,2.222615e+07

**Ejercicio 2: Datos por comunidad autónoma**

In [42]:
cod_comunidades = {'Ceuta': 8744,
                    'Melilla': 8745,
                    'Andalucía': 4,
                    'Aragón': 5,
                    'Cantabria': 6,
                    'Castilla - La Mancha': 7,
                    'Castilla y León': 8,
                    'Cataluña': 9,
                    'País Vasco': 10,
                    'Principado de Asturias': 11,
                    'Comunidad de Madrid': 13,
                    'Comunidad Foral de Navarra': 14,
                    'Comunitat Valenciana': 15,
                    'Extremadura': 16,
                    'Galicia': 17,
                    'Illes Balears': 8743,
                    'Canarias': 8742,
                    'Región de Murcia': 21,
                    'La Rioja': 20}

In [44]:
diccionario_ccaa = {"tipo_energia": [], "tipo_generacion": [], "fecha": [], "valor": [], "ccaa": []}
for k, v in cod_comunidades.items():
    for año in range(2011, 2023): 
        url_ccaa = f"https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date={año}-01-01T00:00&end_date={año}-12-31T23:59&time_trunc=month&geo_limit=ccaa&geo_ids={v}"
        datos_ccaa =  requests.get(url_ccaa)
        json_ccaa = datos_ccaa.json()

        for elemento in json_ccaa["included"]:
            for dato in elemento["attributes"]["values"]:
                diccionario_ccaa["tipo_energia"].append(elemento["attributes"]["title"])
                diccionario_ccaa["tipo_generacion"].append(elemento["attributes"]["type"])
                diccionario_ccaa["valor"].append(dato["value"])
                diccionario_ccaa["fecha"].append(dato["datetime"])
                diccionario_ccaa["ccaa"].append(k)

In [45]:
df_ccaa = pd.DataFrame(diccionario_ccaa)
df_ccaa

,tipo_energia,tipo_generacion,fecha,valor,ccaa
0,Motores diésel,No-Renovable,2011-01-01T00:00:00.000+01:00,16727.395,Ceuta
1,Motores diésel,No-Renovable,2011-02-01T00:00:00.000+01:00,15216.784,Ceuta
2,Motores diésel,No-Renovable,2011-03-01T00:00:00.000+01:00,16429.358,Ceuta
3,Motores diésel,No-Renovable,2011-04-01T00:00:00.000+02:00,14974.756,Ceuta
4,Motores diésel,No-Renovable,2011-05-01T00:00:00.000+02:00,15951.381,Ceuta
...,...,...,...,...,...
24074,Generación total,Generación total,2022-08-01T00:00:00.000+02:00,152284.837,La Rioja
24075,Generación total,Generación total,2022-09-01T00:00:00.000+02:00,214907.540,La Rioja
24076,Generación total,Generación total,2022-10-01T00:00:00.000+02:00,234249.375,La Rioja
24077,Generación total,Generación total,2022-11-01T00:00:00.000+01:00,175403.270,La Rioja
24078,Generación total,Generación total,2022-12-01T00:00:00.000+01:00,217137.242,La Rioja